@import '../../assets/styles/theme.scss';

.category-wrap {
    display: flex;
    flex-wrap: wrap;
    .album-wrap {
        position: relative;
        width: 12.8vw;
        height: 14vw;
        margin-right: 2.5vw;

        .album-wrap-mask-1,
        .album-wrap-mask-2,
        .album-wrap-mask-3 {
            width: 12vw;
            height: 8vw;
            position: absolute;
            border-radius: 0.3vw;
            border: 0.05vw solid $border-color;
            background: $album-background;
        }
        .album-wrap-mask-2 {
            left: 0.3vw;
            top: 0.3vw;
        }
        .album-wrap-mask-3 {
            left: 0.6vw;
            top: 0.6vw;
        }
        .album-wrap-mask-1 {
            .mask-wrap {
                position: relative;
                width: 12vw;
                height: 8vw;
                border-radius: 0.3vw;
                cursor: pointer;
                .image-wrap {
                    position: relative;
                    width: 12vw;
                    height: 8vw;
                    border-radius: 0.3vw;
                    display: block;
                    .cover-image {
                        width: 12vw;
                        height: 8vw;
                        border-radius: 0.3vw;
                    }
                }
                .operate-wrap {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 1.8vw;
                    border-bottom-left-radius: 0.3vw;
                    border-bottom-right-radius: 0.3vw;
                    background: $album-operate-mask-background;
                    cursor: default;
                    opacity: 0;
                    transition: opacity 0.3s linear 0s;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    .icon-edit,
                    .icon-delete {
                        color: $album-operate-icon-color;
                        font-size: 2rem;
                        cursor: pointer;
                    }
                }
                &:hover {
                    .operate-wrap {
                        opacity: 1;
                        transition: opacity 0.3s linear 0s;
                    }
                }
            }
            .album-name {
                margin-top: 1.4vw;
                text-align: center;
            }
        }
    }
}

.album-add-box {
    position: absolute;
    right: 1vw;
    bottom: 1vw;
    z-index: 99;
    width: 3vw;
    height: 3vw;
    border-radius: 100%;
    background: $album-add-icon-background;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0.1vw 0.15vw $boxshadow-color;
    &:hover {
        cursor: pointer;
        background: $album-add-icon-background-active;
    }
    .icon-add1 {
        font-size: 2rem;
        color: $album-add-icon-color;
    }
}
