.setting-test {
    padding: 2vw;
    .wrap {
        h6 {
            font-weight: bold;
            font-size: 1.4rem;
            margin-bottom: 0.5vw;
        }
        &:not(:first-child) {
            margin-top: 2vw;
        }
    }
}
